body{
      margin:0;
      padding:0;
      background:#000;
}

/* NAVBAR */
.navbar{
      margin-bottom: 0!important;
      position: fixed;
      width:100%;
}
.navbar-inverse {
      background-color:transparent;
      border-color: transparent;
 }

 .navbar-inverse .navbar-brand {
      color: #fff;
  }

  .navbar-inverse .navbar-nav>li>a {
      color: #000;
      letter-spacing: 3px;
  }


.bg-1 {
      color: #ffffff;
      background: linear-gradient(
            rgba(0,0,0,0),
             /* rgba(0,0,0,0), */
             rgba(0,0,0,0.5)
            ,rgba(0,0,0,1)
            ),url("../img/background1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}

#container-1{
      height: 110vh;
}

h2{
      font-size:4em;
      color:#cdcdcd;
      color: rgba(205, 205, 205, 1);
}

h2 >.name{
    color: rgb(205, 205, 205);
}
.name{
      font-size: 4em;
      letter-spacing: 5px;
      font-family: "Avenir", sans-serif;
      color: #fff;
      -webkit-animation:fadeInDown 0.5s both ease-in;
      -moz-animation:fadeInDown 0.5s both ease-in;
      animation:fadeInDown 0.5s both ease-in;
}

.line_break{
      -webkit-animation:fadeIn 1.2s both ease-in;
      -moz-animation:fadeIn 1.2s both ease-in;
      animation:fadeIn 1.2s both ease-in;
}

.sub_header{
      -webkit-animation:fadeInUp 0.5s both ease-in;
      -moz-animation:fadeInUp 0.5s both ease-in;
      animation:fadeInUp 0.5s both ease-in;

}

.name-container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

}
