body {
      margin: 0;
      padding: 0;
      background: #000;
      font-family: "Montserrat", sans-serif;
      height: 100%;
      letter-spacing: 3px;
      font-size: 1.5em;
      color: #fff;
}

/* NAVBAR */

.navbar {
      margin-bottom: 0 !important;
      position: fixed;
      width: 100%;
      z-index: 9999;
}

.navbar-inverse {
      background-color: transparent;
      border-color: transparent;
}

.navbar-inverse .navbar-brand {
      color: #fff;
      letter-spacing: 3px;
}

.navbar-inverse .navbar-nav>li>a {
      color: #fff;
      letter-spacing: 3px;
}

.container-fluid.myNavBar {
      background-color: transparent;
      transition: all 0.3s ease-out;
}

.navbar-brand {
      visibility: hidden;
}

/* End of NAVBAR */

/* start of CONTAINER ONE - #container-1 */

#container-1 {
      height: 110vh;
      background: linear-gradient( rgba(0, 0, 0, 0.0), /* rgba(0,0,0,0), */
      rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("../img/test3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}

.name-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

h2 {
      font-size: 4em;
      color: #cdcdcd;
      color: rgba(205, 205, 205, 1);
}

h2>.name {
      color: rgb(205, 205, 205);
}

.line_break {
      -webkit-animation: fadeIn 1.2s both ease-in;
      -moz-animation: fadeIn 1.2s both ease-in;
      animation: fadeIn 1.2s both ease-in;
      width: 50%;
}

.sub_header {
      -webkit-animation: fadeInUp 0.5s both ease-in;
      -moz-animation: fadeInUp 0.5s both ease-in;
      animation: fadeInUp 0.5s both ease-in;
}

.name {
      font-size: 4em;
      letter-spacing: 5px;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      -webkit-animation: fadeInDown 0.5s both ease-in;
      -moz-animation: fadeInDown 0.5s both ease-in;
      animation: fadeInDown 0.5s both ease-in;
      text-shadow: 2px 2px 8px #000000;
}

/* End of Name container and contents */

/* Tpye cursor from type.js */

.typed-cursor {
      animation: blink 0.7s infinite;
      display: inline;
}

@Keyframes blink {
      0% {
            opacity: 1;
      }
      50% {
            opacity: 0;
      }
      100% {
            opacity: 1;
      }
}

/* end of type js css */

.see-more {
      position: absolute;
      bottom: 30px;
      left: 50%;
      font-size: 2em;
      cursor: pointer;
}

/* start of container: portfolio container: #container-2 */



#container-2 {
      height: 100vh;
      background-color: #000;
      position: relative;
      padding-bottom: 6vh;
      /* border:2px solid green; */
}

.portfolio-image {
      /* padding: 8px; */
      /* border: 1px solid rgb(27, 27, 27); */
      position: relative;
      overflow: hidden;
}

.item img {
      -webkit-transition: 0.6s ease;
      transition: 0.6s ease;
}

.portfolio-image:hover .item img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
}

.caption {
      background: none;
      font-size: 0.6em;
}

.img-responsive {
      display: block;
      height: auto;
      transition: .5s ease;
      -webkit-transition: 0.5s ease;
      backface-visibility: hidden;
      padding: 10px;
}

.overlay {
      transition: .5s ease;
      -webkit-transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
}

.item:hover .img-responsive {
      opacity: 0.3;
}

.item:hover .overlay {
      opacity: 1;
}

.see-all-projects-text,
.text {
      border: 2px solid #fff;
      padding: 16px 32px;
      background: transparent;
}

.see-all-projects-button {
      margin-top: 25px;
}

.see-all-projects-text:hover,
.overlay:hover {
      background-color: #fff;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      color: #000;
}

.item>a:active,
.item>a:hover,
item>a:visited {
      color: #fff;
      text-decoration: none;
}

a {
      color: #fff;
}

a:hover {
      text-decoration: none;
}


/* start of container: container about: #container-3 */
#container-3{
      background: rgb(31, 31, 31);
      /* height:100vh; */
}
.row.about-me-row{
      height:100%;
}
.photo{
      border-right:1px solid rgb(109, 109, 109);

}

.about-me-photo-container{
      border-radius: 50%;
}

.about-me-photo-container>.about-me-image{
      border-radius: 50%;
}

.about-me-photo-fade-in{
      animation: fadeInLeft 0.5s both ease-in;
      -webkit-animation: fadeInLeft 0.5s both ease-in;
      -moz-animation: fadeInLeft 0.5s both ease-in;
      animation: fadeInLeft 0.5s both ease-in;
      opacity: 1;
}

.about-header-fade-in{
      animation: fadeIn 0.5s both ease-in;
      -webkit-animation: fadeIn 0.5s both ease-in;
      -moz-animation: fadeIn 0.5s both ease-in;
      animation: fadeIn 0.5s both ease-in;
      opacity: 1;
}

.about-me-photo > img{
      border-radius: 50%;
      float:right;
}

.about-me-description-fade-in{
      animation: fadeInRight 0.5s both ease-in;
      -webkit-animation: fadeInRight 0.5s both ease-in;
      -moz-animation: fadeInRight 0.5s both ease-in;
      animation: fadeInRight 0.5s both ease-in;
      opacity: 1;
}


/* start of container: contact container: #container-4 */

#container-4 {
      height: 100vh;
      background: linear-gradient( rgba(0, 0, 0, .5), /* rgba(0,0,0,0), */
      rgba(0, 0, 0, 0)), url("../img/contact4.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-attachment: fixed;
}

.contact-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.shift-header-down {
      margin-top: 4vh;
}

/* end of container: contact container: #container-4 */

/* start of footer */

.footer-text-container {
      padding: 5px;
}

.back-to-top {
      padding: 3px;
      text-align: center;
      font-size: 2em;
      cursor: pointer;
}

.social-media-links{

      margin:0 auto;
      text-align: center;

}
.icons>a{
      padding:15px 5px;
}

/* end of footer */

@media only screen and (max-width: 800px) {
      .name,
      .contact-header,
      .portfolio-header {
            font-size: 3em;
      }
      .navbar-right>.navbar-elements:hover {
            background-color: rgba(0, 0, 0, 0.75);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
      }
      #container-2{
            height:100%;
      }

      .contact-form {
            width: 90%;
      }
      .footer-text,
      .back-to-top {
            font-size: 1.2em;
      }
      .about-me-row{
            height:100%;
      }
      .about-me-photo-container{
            width:50%;
            margin: 0 auto;
      }
      
}

/* end of media queries: max with 800px */

/* start of media queries: max with 400px */

@media only screen and (max-width: 400px) {
      .name,
      .contact-header,
      .portfolio-header {
            font-size: 1.8em;
      }
      .navbar-right>.navbar-elements:hover {
            background-color: rgba(0, 0, 0, 0.75);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
      }
      .footer-text,
      .back-to-top {
            font-size: 1em;
      }
}

/* end of media queries: max with 400px */