body{
      margin:0;
      padding:0;
}

h2{
      font-size:4em;
      color:#cdcdcd;
      color: rgba(205, 205, 205, 1);
}

h2 >.name{
    color: rgb(205, 205, 205);
}
.name{
      font-size: 4em;
      letter-spacing: 5px;
      font-family: "Avenir", sans-serif;
      margin-top: 18%;
      color: #fff;
}
.navbar{
      margin-bottom: 0!important;
      position: fixed;
      width:100%;
}


.navbar-inverse {
      background-color:transparent;
      border-color: transparent;
 }

 .navbar-inverse .navbar-brand {
      color: #fff;
  }

  .navbar-inverse .navbar-nav>li>a {
      color: #000;
  }


.bg-1 {
      background-color: #1abc9c;
      color: #ffffff;
      background: linear-gradient(
            rgba(0,0,0,0.0),
             /* rgba(0,0,0,0), */
             rgba(0,0,0,0.5)
            ,rgba(0,0,0,1)
            ),url("background1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}

#container-1{
      height: 100vh;
} 